/**
 * Author: Jonas Glerup Røssum
 */

.book {
  /* Only for testing */
  display: flex;
  height: calc(100vmin - 31 * var(--unit));
  min-height: 100 * var(--unit);
  width: calc(100vmin - 31 * var(--unit));
  background-color: white;
  box-shadow: var(--shadow);
  padding: calc(4 * var(--unit));
  margin: calc(4 * var(--unit));
  
  justify-content: center;
  flex-direction: column;
}

.book .root {
  display: flex;
  flex-grow: 1;
}

.book__page {
  /* padding: var(--unit); */
  flex-grow: 1;
  background-color: hsla(0, 0%, 0%, 0.2);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book__title {
  margin: calc(4 * var(--unit));
}

.book__media {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book__add-media {
  flex-grow: 1;
  margin: calc(4 * var(--unit));
  border: calc(var(--unit) / 4) dashed var(--primary-text);
  box-sizing: border-box;
  border-radius: calc(2 * var(--unit));
  padding: calc(7 * var(--unit)) calc(5 * var(--unit));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.book__add-media::before,
.book__add-media::after {
  margin: var(--unit);
}
.book__add-media::before {
  content: "Klik for at vælge et billede";
  font-family: var(--font-family);
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: calc(var(--unit) / 2);
  color: var(--primary-text);
}
.book__add-media::after {
  content: "";
  display: block;
  width: calc(3 * var(--unit));
  height: calc(3 * var(--unit));
  background-image: url(../assets/icons/secondary/camera-plus.svg);
}

.book__add-media + input[type="file"] {
  display: none;
}

.book__media img {
  object-fit: contain;
  width: 100%;
  /* height: auto; */
  flex-grow: 1;
}
