/**
 * Author: Jonas Glerup Røssum
 */

.book {
  display: flex;
  height: calc(100vmin - 31 * var(--unit));
  min-height: 100 * var(--unit);
  width: calc(100vmin - 31 * var(--unit));
  background-color: white;
  box-shadow: var(--shadow);
  padding: calc(0.05 * (100vmin - 31 * var(--unit)));
  margin: calc(var(--unit));
  
  /* align-items: center; */
  justify-content: safe;
  flex-direction: column;
}

.book .root {
  display: flex;
  flex-grow: 1;
}

.book__page {
  flex-grow: 1;
  background-color: hsla(0, 0%, 0%, 0.2);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book__title {
  font-size: calc(0.03 * (100vmin - 31 * var(--unit)));
  white-space: pre-wrap;
  word-break: break-all;
  margin: calc(0.05 * (100vmin - 31 * var(--unit)));
  text-align: center;
}

.book__media {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book__add-media {
  display: flex;
  flex-grow: 1;
  height: 100%;

  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.book__media .img {
  flex-grow: 1;
  width: 100%;
  height: max-content;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  /* max-width: 100%; */
  /* max-height: 100%; */
  /* width: auto; */
  /* height: auto; */
}


.book__media:not(.book__media--has-img) .book__add-media {
  margin: calc(2 * var(--unit));
  border: calc(var(--unit) / 4) dashed var(--primary-text);
  border-radius: calc(2 * var(--unit));
  padding: calc(2 * var(--unit)) calc(5 * var(--unit));
}
.book__media:not(.book__media--has-img) .book__add-media::before,
.book__media:not(.book__media--has-img) .book__add-media::after {
  margin: var(--unit);
}
.book__media:not(.book__media--has-img) .book__add-media::before {
  content: "Klik for at vælge et billede";
  font-family: var(--font-family);
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: calc(var(--unit) / 2);
  color: var(--primary-text);
}
.book__media:not(.book__media--has-img) .book__add-media::after {
  content: "";
  display: block;
  width: calc(3 * var(--unit));
  height: calc(3 * var(--unit));
  background-image: url(../assets/icons/secondary/camera-plus.svg);
}

.book__add-media + input[type="file"] {
  display: none;
}
