/**
 * Themes overlay css
 * Author: Alaa Abdul-Al
 * Author: Jonas Glerup Røssum
 */

 @keyframes tilt-in {
    0% {
        transform: rotateY(20deg) rotateX(-35deg) translate(50px, 50px) skew(35deg, -10deg);
        opacity: 0;
    }
    100% {
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
  }

.dialog {
    position: relative;
    width: calc(24 * var(--unit));
    box-sizing: content-box;
    padding: calc(2 * var(--unit)) calc(2 * var(--unit));
    border-radius: calc(2*var(--unit));
    box-shadow: var(--shadow);
    border: none;
    justify-content: center;
    align-self: flex-end;
    animation-name: tilt-in;
    animation-duration: 0.25s;
}

.dialog h2 {
    white-space: nowrap;
    margin-right: calc(2 * var(--unit));
}

.dialog__header {
    display: flex;
}

.dialog__close-button {
    position: relative;
    /* margin-top: -35px; */
    /* margin-left: 280px; */
}

.dialog__select {
    margin-top: calc(2*var(--unit));
    flex-grow: 1;
    border-radius: calc(2*var(--unit));
    padding: calc(var(--unit));
    color: var(--secondary-text);
    font-weight: bold;
    position: relative;
}


.dialog__select:focus {
    outline: none;
    box-shadow: var(--shadow-focus);
}