/* 
 * Pagination
 * Author: Jonas Glerup Røssum
 */
.pagination {
    display: flex;
    padding: var(--unit);
    align-items: center;
    justify-content: center;
    /* flex-direction: row; */
    user-select: none;
}

.pagination__current {
    display: flex;
    padding: var(--unit);
    line-height: 100%;
}