/**
 * Typography
 * Author: Jonas Glerup Røssum
 */
h1 {
    font-size: 300%;
}
h2 {
    font-size: 200%;
}
h3 {
    font-size: 175%;
}
h4 {
    font-size: 150%;
}
h5 {
    font-size: 125%;
}
h6 {
    font-size: 115%;
}

p {
    padding-top: var(--unit);
    padding-bottom: var(--unit);
}